<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlightPlanWin.Properties.Settings.airfieldsConnectionString"
            connectionString="data source=&quot;C:\Users\dahoe.ITR\Documents\Visual Studio 2010\Projects\FlightPlanWin\FlightPlanWin\assets\airfields.rdb&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>